@font-face {
   font-family: 'komorebi-gothic';
   font-display: swap;
   src: url('file:///Users/murakamidaisuke/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-01-16_105221/fonts/komorebi-gothic/font.ttf');
}
